*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/*最顶部的图片  开始*/
.top_nav{
    width:100%;
    height:80px;
    background: #FF0008;
}
.top_nav_container{
    position: relative;
    width:1190px;
    height: 50px;
    margin:0 auto;
}
.close{
    opacity: 0.2;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 26px;
}
.close:hover{
    cursor: pointer;
}
/*最顶部的图片  结束*/

/*nav导航条开始*/
.nav{
    width: 100%;
    height:30px;
    background: #E3E4E5;
}
.nav_container{
    width: 1190px;
    height:30px;
    margin: 0 auto;
    background: #E3E4E5;
    position: relative;
}
.nav_container_logo{
    position: absolute;
    top:0;
    left:0;
}
.nav_container_left{
    float: left;
    width:50px;
    height: 30px;
    margin-left: 205px;
}
.nav_container_left p{
    color: #999999;
    font-size:12px;
    height:30px;
    line-height: 30px;
    text-align: center;
}
.nav_container_left p:hover{
    background: white;
    border-right: 1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-top:1px solid #cccccc;
}
.nav_container_middle{
    float: left;
    width:145px;
    height: 30px;
    margin-left: 230px;
}
.nav_container_middle ul{
    width:150px;
    height: 30px;
}
.nav_container_middle ul li{
    width:75px;
    height: 30px;
    line-height:30px;
    float: left;
    text-align: center;
}
.nav_container_middle ul li a{
    color: #999999;
    font-size:12px;
}
.nav_container_middle ul li:nth-child(2) a {
    color: #F10215;
}
.nav_container_middle ul li a:hover,.nav_container_right ul li a:hover{
    color: #c81623;
}
.nav_container_right{
    float: left;
    width: 550px;
    height:30px;
}
.nav_container_right ul li{
    width:78px;
    height:30px;
    line-height:30px;
    float: left;
    text-align: center;
    color: #999999;
    font-size:12px;
}
.nav_container_right ul li a{
    color: #999999;
    font-size:12px;
}
.nav_container_right ul li:nth-child(2):hover,.nav_container_right ul li:nth-child(5):hover,.nav_container_right ul li:nth-child(6):hover{
      background: white;
      color: #999999;
  }
.nav_container_right ul li:nth-child(2) a:hover,.nav_container_right ul li:nth-child(5) a:hover,.nav_container_right ul li:nth-child(6) a:hover{
    color: #999999;
}
.nav_container_logo_right1{
    position: absolute;
    top: 30px;
    right: 10px;
}
.nav_container_logo_right2{
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 100;
}
.logo1{
    display: none;
}
/*nav导航条结束*/
/*搜索栏开始*/
.search{
    width:100%;
    height:140px;
    background: #F6F6F6;
}
.search_container{
    width:1190px;
    height:140px;
    margin:0 auto;
    border:1px solid #F6F6F6;
}
.search_middle{
      margin-left: 320px;
      margin-top:25px;
      width: 555px;
      height:35px;
      position: relative;
      float: left;
  }
.ipt_search{
    float: left;
}
.ipt_search input{
    outline: none;
    padding: 10px;
    width:500px;
    height:35px;
    border:1px solid #F10215;
}
.ipt_search i{
    display: block;
    position: absolute;
    right: 70px;
    top: 5px;
    font-size: 20px;
    color: #666;
}
.btn_search{
    float: left;
    width:50px;
    height:35px;
    background: red;
    text-align: center;
    line-height: 35px;
}
.btn_search i{
    font-size: 24px;
    color: white;
}
.search_right{
    width: 180px;
    height: 35px;
    border: 1px solid #cccccc;
    float: left;
    position: relative;
    top: 25px;
    right: -25px;
    background: #FFF;
}
.search_right p{
    text-align: center;
    color: #f10215;
    height: 35px;
    line-height:35px;
    font-size:14px;
}
.count{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #f10215;
    color: #FFF;
    position: relative;
    right: 0px;
    top: -5px;
    line-height: 15px;
}
.search_middle1{
    margin-left: 320px;
    margin-top:10px;
    width: 555px;
    height:35px;
    position: relative;
    float: left;
}
.search_middle1 p a{
    font-size:12px;
    color: #666;
    padding:0px 5px ;
}
.search_middle1 p a:nth-child(1){
    color: #f10215;
}
.search_middle1 ul li{
     float: left;
     padding:0px 16px;
     font-size:16px;
     font-weight:bold;
 }
.search_middle1 ul li a{
    color: #555;
}
.search_middle1_margin{
    margin-left: 220px;
    width: 690px;
}
.search_right_a{
    margin-top: -25px;
    margin-left: 75px;
    width: 80px;
    float: left;
}
.search_middle1 a:hover{
    color: #c81623;
}
/*搜索栏结束*/
/*fs开始*/
.fs{
    width:100%;
    height:482px;
    position: relative;
    background: #F6F6F6;
}
.fs_container{
    position: relative;
    width:1190px;
    height:482px;
    margin:0 auto;
}
.fs_container_left{
     position: absolute;
     left:0;
     float: left;
     width:190px;
     height:480px;
     background: #6E6568;
 }
.fs_container_left ul{
    margin-top:20px;
}
.fs_container_left ul li{
    margin-left:10px;
    width:190px;
    height:28px;
    line-height:28px;
    color: #FFF;
}
.fs_container_left ul li a{
    font-size: 14px;
    color: #FFF;
}
.fs_container_left ul li a:hover{
    color: #c81623;
}
.fs_container_middle{
     position: absolute;
     left:200px;
     float: left;
     width:790px;
     height:480px;
 }
.fs_container_right{
    position: absolute;
    right:0;
    float: left;
    width:190px;
    height:480px;
    background: #FFF;
}
.jd_slider{
    float: left;
    padding: 5px 2px;
}
.left_slider{
    position: absolute;
    left:0;
    top:0;
}
.left_slider img{
    width: 230px;
    height: 480px;
    margin-left: -140px;
}
.left_slider_img{
    width: 0px;
    overflow: hidden;
    position: absolute;
    left:80px;
    top:0;
    z-index: 100;
}
.fs_container_right_top{
    height:100px;
    width:190px;
    color: #666;
    border-bottom:1px solid #e6e6e6;
}
.fs_container_right_top img{
    width:25%;
    display: block;
    float: left;
}
.fs_container_right_top>div>p{
    width:70%;
    margin-left: 9px;
    height: 10px;
    line-height: 30px;
    display: block;
    float: left;
}
.fs_container_right_top p a{
    color: #666;
    font-size:12px;
}
.fs_container_right_top p a:hover{
    color: #c81623;
}

.plus {
    margin-left: 20px;
     margin-top: 3px;
}

.plus a{
    padding:2px 5px;
    display: inline-block;
    border:2px solid #c81623;
    font-size: 12px;
    color: #c81623;
    margin:0px 5px;
}
.plus a:hover{
    background: #c81623;
    color: #FFF;
}
.fs_container_right_tab{
    width:190px;
    height:154px;
    position: relative;
}
.fs_container_right_tab>p{
    width:160px;
    height:27px;
    line-height:27px;
    margin-left:20px;
    font-size:12px;
    border-bottom:1px solid #ccc;
}
.fs_container_right_tab p span{
    padding: 3px 5px;
    cursor: pointer;
}
.last_span{
    display: inline-block;
    float: right;
    margin-right:5px;
    margin-top:0px;
}
.fs_container_right_tab_content{
    width:160px;
    height:120px;
    margin-left:20px;
    display: none;
}
.content_now{
    display: block;
}
.fs_container_right_tab_content>p{
    font-size:12px;
    border:none;
}
.fs_container_right_tab_content>p>a{
    color: #666;
}
.red_row{
    position: absolute;
    width: 30px;
    height: 2px;
    background: red;
    top: 25px;
    left: 20px;
}
.service_encty{
    width:190px;
    height:210px;
}
.service_encty_ul{
    width:192px;
    height:210px;
    overflow: hidden;
}
.service_encty_ul li {
    width: 48px;
    height: 70px;
    text-align: center;
    border: 1px solid #cccccc;
    float: left;
    margin-left: -1px;
    padding: 5px;
    border-right: none;
    color: #666;
}
.service_encty_ul li:nth-child(5),.service_encty_ul li:nth-child(6),.service_encty_ul li:nth-child(7),.service_encty_ul li:nth-child(8){
    border-top:none;
}
.service_encty_ul li:nth-child(9),.service_encty_ul li:nth-child(10),.service_encty_ul li:nth-child(11),.service_encty_ul li:nth-child(12){
    border-top:none;
    border-bottom:none;
}
.service_encty_ul li i{
    font-size: 26px;
}
.service_encty_ul li p{
    font-size:12px;
}
.service_encty_ul li p:hover{
    color: #c81623;
    cursor: pointer;
}
/*fs结束*/
/*seckill开始*/
.seckill{
    width:100%;
    height:305px;
    padding-top: 10px;
    background: #F6F6F6;
}
.seckill_content{
    width:1190px;
    height:305px;
    margin:0 auto;
}
.seckill_content_top{
    height:57px;
    background-image: url("../img/seckill/2017-07-15_181614.png");
}
.seckill_content_top_left{
    width:300px;
    height:49px;
    float: left;
    margin:5px 0px 0px 90px ;
}
.seckill_content_top_left h3{
    margin-top: 0px;
    width:104px;
    height:49px;
    line-height: 49px;
    color: white;
    float: left;
}
.seckill_content_top_left a{
    display: block;
    width:130px;
    height:49px;
    line-height:49px;
    color: white;
    float: left;
}
.seckill_content_top_left i{
    display: block;
    width:30px;
    height:49px;
    line-height:49px;
    color: white;
    float: left;
}
.seckill_content_box{
    width:100%;
    height:250px;
}
.seckill_content_top_right{
    width:300px;
    height:50px;
    float: left;
}
.seckill_content_box_left_wrapper{
    width:1000px;
    height:225px;
    float: left;
    overflow: hidden;
}
.seckill_content_box_left_wrapper_content{
    width:1000px;
    height:225px;
    overflow: hidden;
    background: #FFF;
    position: relative;
}
.seckill_next{
    position: absolute;
    width: 20px;
    height: 45px;
    background: #ccc;
    top: 80px;
    left: 5px;
    opacity: 0.5;
    line-height: 45px;
    padding: 0px 5px 0px 5px;
    display: none;
    z-index: 222;
}
.seckill_pre{
    position: absolute;
    width: 20px;
    height: 45px;
    background: #ccc;
    top: 80px;
    right: 5px;
    opacity: 0.5;
    line-height: 45px;
    display: none;
    z-index: 222;
}
.seckill_content_box_left_wrapper_content ul{
    width:2000px;
    height:225px;
    position: relative;
    left:0px;
}
.seckill_content_box_left_wrapper_content li{
    width:200px;
    height:225px;
    border-right:1px solid #cccccc;
    margin:10px 0px 10px 0px;
    float: left;
}
.seckill_content_box_left_wrapper_content img{
    display: block;
    margin:0 auto;
    width:130px;
    height:130px;
    position: relative;
    top:10px;
}
.box-shadow{
    background-image: url("../img/seckill/2017-07-16_095228.png");
    background-repeat: no-repeat;
    width: 170px;
    height: 20px;
    background-position: 0 0;
    margin-top:5px;
    margin-left: 23px;
}
.seckill_content_p_title{
    font-size:12px;
    color: #666;
}
.seckill_content_p_price{
    margin-top:-5px;
}
.seckill_content_p_price_span1{
    color: red;
    font-size:16px;
}
.seckill_content_p_price_span1 i{
    font-size:12px;
}
.seckill_content_p_price_span2{
    color: #666;
}
.seckill_content_box_left_wrapper_content p:hover{
    color:  #c81623;
}
.seckill_content_box_right_wrapper_content{
    width:180px;
    height:225px;
    float: left;
}
.carousel-indicators {
    bottom: -5px;
}
/*seckill结束*/
/*fbtz开始*/
.fbtz{
    width:100%;
    height:444px;
    background: #F6F6F6;
}
.fbtz_content{
    width:1190px;
    height:444px;
    margin:0 auto;
    display: flex;
    overflow: hidden;
}
.fbtz_content_detail{
    flex: 1;
    height:444px;
    margin:0 5px 0px 5px;
}
.fbtz_content_detail_top{
    height:55px;
}
.fbtz_content>div:nth-child(1) .fbtz_content_detail_top{
    width:100%;

    background-image: url("../img/fbtz/2017-07-16_214946.png");
}
.fbtz_content>div:nth-child(2){
    width:100%;
    height:55px;
    background-image: url("../img/fbtz/2017-07-16_215002.png");
}
.fbtz_content>div:nth-child(3){
    width:100%;
    height:55px;
    background-image: url("../img/fbtz/2017-07-16_215015.png");
}
.fbtz_content_detail_top h3{
    width:104px;
    height:40px;
    margin:15px 0px 0px 20px;
    color: white;
    float: left;
}
.fbtz_content_detail_top a{
    width:150px;
    height:24px;
    float: right;
    margin:20px 10px 0px 0px ;
    color: white;
    text-align: right;
}
.fbtz_content_detail_content ul{
    width:100%;
    height:444px;
    overflow: hidden;
    background: #FFF;
}
.fbtz_content_detail_content ul li{
    width:47%;
    height:120px;
    float: left;
}
.fbtz_content_detail_content ul li:nth-child(1),.fbtz_content_detail_content ul li:nth-child(3),.fbtz_content_detail_content ul li:nth-child(5){
    border-right:1px solid #ccc;
    margin-left:10px;
}
.fbtz_content_detail_content ul li:nth-child(1),.fbtz_content_detail_content ul li:nth-child(2),.fbtz_content_detail_content ul li:nth-child(3),.fbtz_content_detail_content ul li:nth-child(4){
    border-bottom:1px solid #ccc;
}

.fbtz_content_detail_content ul li:nth-child(1),.fbtz_content_detail_content ul li:nth-child(2){
   margin-top: 15px;
}
.fbtz_content_detail_content ul li>a>p{
    width:80px;
    height:40px;
    float: left;
    margin:10px 0px 0px 10px;
    color: #4998a1;
}
.fbtz_content_detail_content ul li>a>img{
    width:80px;
    height:80px;
    display: block;
    float: left;
    margin-top:30px;
    position: relative;
    left:0;
}
.item1 img{
    width:110px;
    height:110px;
    float: left;
    margin:3px;
}
.item1 {
    margin: 20px 0px 0px 30px;
}
.item1 p{
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    color: #666;
    text-indent: 10px;
    margin: 15px 0px 15px 0px;
    text-align: left;
}
.fbtz_img{
    width:100%;
    height:110px;
}
.carousel1{
    height:400px;
    position: relative;
    background-color: #fff;
}
.fbtz_aleft{
    position: absolute;
    left:10px;
    top:185px;
}
.fbtz_aright{
    position: absolute;
    right:10px;
    top:185px;
}
.carousel-indicators1{
    bottom: 25px;
}
.carousel-indicators1 li{
    background: #cccccc;
}
.carousel-indicators1 .active{
    background: #eeeeee;
}
.fbtz_content_detail_content p a{
    padding:10px 1px 1px 10px;
    color: #666;
}
.fbtz_content_detail_content_p{
    margin:0px 0px 0px 10px;
    padding:5px 0px 5px 0px;
    font-size: 15px;
    border-bottom:1px solid #cccccc;
    cursor: pointer;
}
.fbtz_content_detail_content_p_tab{
    width:395px;
    height:330px;
    display: none;
}
.fbtz_content_detail1 .active{
    display: block;
}
.fbtz_content_detail_content_p_tab ul{
    height:360px;
}
.fbtz_content_detail_content_p_tab ul li{
    width:127px;
    height:180px;
    float: left;
    margin-top: 0px;
}
.fbtz_content_detail_content_p_tab ul li:nth-child(3){
      margin:15px 0px 0px 0px;
      border-left:1px solid #ccc;
      border-right:none;
  }
.fbtz_content_detail_content_p_tab ul li:nth-child(4),.fbtz_content_detail_content_p_tab ul li:nth-child(5){
    /*margin:0px 0px 0px 15px;*/
    border-right:1px solid #ccc;
    border-left:none;
}
.fbtz_content_detail_content_p_tab ul li:nth-child(4){
    margin:0px 0px 0px 10px;
}
.fbtz_content_detail_content_p_tab ul li:nth-child(5){
    margin:0px;
}
.fbtz_content_detail_content{
    background: #FFF;
}
.fbtz_content_detail_content_p_tab p{
    font-size:12px;
    margin-top: 10px;
}
.fbtz_content_detail_content_p_tab img{
    margin-left:9px;
}
.fbtz_content_detail1{
    position: relative;
}
.red_row{
    position: absolute;
    width:40px;
    height:3px;
    background: red;
    left: 20px;
    top: 25px;
}

/*fbtz结束*/
/*coupon开始*/
.coupon{
    width:100%;
    height:295px;
    padding:20px 0px 0px 0px;
    background: #F6F6F6;
    position: relative;
}
.coupon_content{
    width:1190px;
    height:245px;
    margin:0 auto;
    display: flex;
    overflow: hidden;
}
.coupon_content>div{
    flex:1;
    height:245px;
    padding:10px;
    background: #FFF;
}
.coupon_content>div img{
    float: left;
    position: relative;
    z-index: 11;
}
.coupon_content_left{
    height:184px;
    width:103px;
    float: left;
    position: relative;
    z-index: 100;
}
.coupon_content>img{
    width:197px;
    height:245px;
}
/*coupon结束*/
/*J_f_need_ani开始*/
.J_f_need_ani{
    width:100%;
    height:110px;
    background: #F6F6F6;
}
.J_f_need_ani_content{
     width:100%;
     height:100px;
    display: flex;
 }
.J_f_need_ani_content img{
    flex:1;
}
.J_f_need_ani_content img:hover{
    opacity:0.7;
}
/*J_f_need_ani结束*/
/*J_f_lift开始*/
.J_f_lift{
    width:100%;
    height:630px;
    background: #F6F6F6;
}
.J_f_lift_content{
    width:1190px;
    height:585px;
    margin:0 auto;
}
.J_f_lift_img_content_Left{
    width:820px;
    height:350px;
    float: left;
}
.J_f_lift_img_content_right{
    width:360px;
    height:350px;
    float: left;
    margin:10px 0px 0px 10px;
}
.J_f_lift_img{
    width:385px;
    height:170px;
    float: left;
    margin-left:10px;
    margin-top:10px;
    position: relative;
    overflow: hidden;
    background-image: url("../img/quality/2.webp");
}
.J_f_lift_img>img{
    position: absolute;
    left:0;
    z-index:50;
}
.J_f_lift_img_left{
    position: absolute;
    left:0;
    width:140px;
    height:170px;
    background: #72BB91;
    z-index:100;
    opacity:0.7;
}
.J_f_lift_img_left hr{
    width:110px;
    height:2px;
    background: #FFF;
    margin:0 auto;
    margin-top:50px;
}
.J_f_lift_img_left p{
    text-align: left;
    padding:8px 0px 0px 15px;
    color: #FFF;
    font-size: 16px;
}
.J_f_lift_img_slide:hover{
    cursor: pointer;
}
.J_f_lift_content_bottom{
    width:1190px;
    height:180px;
    margin-top:10px;
}
.J_f_lift_right_img{
    width:180px;
    height:170px;
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.J_f_lift_right_img img{
    position: absolute;
    left:0;
    z-index: 0;
}
.J_f_lift_right_img_bg{
    width:180px;
    height:80px;
    background: #AF463F;
    opacity:0.8;
    position: absolute;
    bottom:0;
    z-index: 100;
}
.J_f_lift_right_img_bg hr{
    width:160px;
    height:2px;
    background: #FFF;
    margin:8px 10px;
}
.J_f_lift_right_img_bg h4,.J_f_lift_right_img_bg p{
    text-align: center;
    color: #FFF;
}
/*J_f_lift结束*/
/*J_f_love_life开始*/
.J_f_love_life{
    width:100%;
    height:620px;
    background: #F6F6F6;
}
.J_f_love_life_content{
    width:1190px;
    height:540px;
    margin:0 auto;
}
.J_f_love_life_content_detail{
    display: flex;
    width:100%;
    height:540px;
}
.J_f_love_life_content_detail>div{
    background: #FFF;
    flex:1;
    margin-left:10px;
    position: relative;
    float: left;
}
.J_chn_col_title{
    width:100%;
    height:60px;
    background-color: #9A4475;
    float: left;
}
.pt_beauty_title{
    width:100%;
    height:60px;
    background-color: #CA3659;
    float: left;
}
.J_chn_col_title h3,.pt_beauty_title h3{
    width: 80px;
    float: left;
    margin-left:20px;
    margin-top:17px;
    color: #FFF;
}
.J_chn_col_title img,.pt_beauty_title img{
    float: left;
    margin-top: 2px;
}
.pt_cover{
    width:180px;
    height:260px;
    margin:10px;
    float: left;
}
.pt_beauty_title_right,.J_chn_col_title_right{
    float: right;
    width: 400px;
    height: 20px;
    line-height: 20px;
    margin-top:20px;
}
.pt_beauty_title_right li,.J_chn_col_title_right li{
    height:20px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    float: right;
    font-size:12px;
    margin:0px 10px 0px 10px;
    padding: 0px 5px;
}
.pt_beauty_title_right li:hover,.J_chn_col_title_right li:hover{
    border:1px solid #FFF;
}
.pt_beauty_title_right li{
    background: #d36581;
    border:1px solid #de7b95;
}
.J_chn_col_title_right li{
    background: #ac6f93;
    border:1px solid #c187af;
}
.J_chn_hous_title_right li{
    border:1px solid #9e84b1;
    background-color: #9379a5;
}
.pt_phone_title_right li{
    border:1px solid #94a1c0;
    background-color:  #7f8ca8;
}
.J_chn_col_ul{
    width:375px;
    height:260px;
    float: left;
    margin:10px 0px 0px 10px;
}
.J_chn_col_ul li{
    width:180px;
    height:120px;
    float: left;
    position: relative;
}
.J_chn_col_ul li img{
    position: absolute;
    right:10px;
    top:10px;
}
.pt_bi_tit{
     width:70px;
     height:20px;
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 14px;
    color: #9A4475;
    z-index: 1;
 }
.pt_bi_promo{
    width:56px;
    height:20px;
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 12px;
    color: #666;
    max-width: 50px;
    z-index: 1;
}
.J_chn_col_ul li:nth-child(1){
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}
.J_chn_col_ul li:nth-child(2){
    border-bottom:1px solid #cccccc;
}
.J_chn_col_ul li:nth-child(3){
    border-right:1px solid #cccccc;
}
.pt_more{
    width:590px;
    height:140px;
}
.pt_more a{
    width:185px;
    height:130px;
    display: block;
    float: left;
    overflow: hidden;
    margin:5px;
    position: relative;
}
.pt_more img{
    position: absolute;
    left:0;
}
.pt_ft{
    width: 585px;
    height:50px;
    position: relative;
    overflow: hidden;
}
.pt_ft_content_left{
     position: absolute;
     top: 10px;
     width: 15px;
     height: 30px;
    line-height:30px;
    text-align: center;
    display: none;
 }
.pt_ft_content_right{
    position: absolute;
    top: 10px;
    right:0;
    width: 15px;
    height: 30px;
    line-height:30px;
    text-align: center;
    display: none;
}
.pt_ft_content{
    width: 1140px;
    height:45px;
    margin-left: 10px;
    position: absolute;
    left: 0;
}
.pt_ft_content li{
    float: left;
    width:95px;
    height:45px;
    border-right:1px solid #cccccc;
    padding:10px;
}
/*J_f_love_life结束*/
/*J_more开始*/

/*J_more结束*/
footer{
    width:100%;
    background: #EAEAEA;
}
.footer_top{
    display: flex;
    border-bottom:1px solid #dedede;
}
.footer_top>div{
    flex:1;
    height:105px;
}
.footer_top>div>img{
    margin-left:70px;
}
.footer_middle{
    width:100%;
    height:170px;
}
.footer_middle_content{
    width: 1190px;
    height: 160px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    padding-bottom:10px;
    border-bottom:1px solid #dedede;
}
.footer_middle_content>div{
    flex:1;
    overflow: hidden;
}
dt{
    font-weight:bold;
    padding-bottom:10px;
}
dd a{
     color: #666;
 }
dd a:hover {
    color: #c81623;
}
.footer_bottom{
    width:100%;
    height:195px;
}
.footer_bottom_content{
    width:1190px;
    height:195px;
    margin:0 auto;
}
.footer_bottom_content>p{
    display: flex;
    margin-bottom:0px;
}
.footer_bottom_content>p>a{
    flex:1;
    color: #666;
    text-align: center;
    font-size:12px;
    padding:0px 5px;
    border-right:1px solid #cccccc;
}
.footer_bottom_content p>a:hover{
    color: #c81623;
}
.mod_copyright_info{
    margin-top: 5px ;
    line-height: 22px;
    color: #666;
}
.mod_copyright_info p{
    text-align: center;
    margin:0;
}
.mod_copyright_info p a{
    font-size:12px;
    color: #999;
    padding-right:10px;
    border-right:1px solid #ccc;
}
.mod_copyright_info1 p a{
    border:none;
}
/*右侧固定菜单开始*/
.menu_right{
    position: fixed;
    right:0;
    top:275px;
}
.menu_right span{
    display: inline-block;
    overflow: hidden;
    width:0px;
    height:35px;
    line-height: 35px;
    float: left;
    color: #FFF;
}
.menu_right li p i{
    line-height: 35px;
    text-align: center;
    width: 35px;
    display: inline-block;
    color: #FFF;
    font-size:20px;
}
.menu_right li p{
    margin:0;
    height:35px;
    background: #7A6E6E;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #FFF;
    padding:1px;
}
.menu_right li p:hover{
    background: #c81623;
}
/*右侧固定菜单结束*/
/*返回顶部*/
.to_top{
    position: fixed;
    bottom:0;
    right:0;
}
.to_top li {
    margin:0;
    width:35px;
    text-align: center;
    color: #FFF;
    height:35px;
    line-height:35px;
    background: #7A6E6E;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #FFF;
    padding:1px;
}
.pt_computer{
     width: 100%;
     height:540px;
    background: #F6F6F6;
 }
.pt_computer_content{
    width: 1190px;
    height:540px;
    margin:0 auto;
    position: relative;
}
.pt_computer_content_top_right{
    position: absolute;
    right:20px;
    top:20px;
}
.pt_computer_content_top_right a{
    color: white;
    padding:5px;
    font-size: 12px;
    border:1px solid #77b6c3;
    background: #6da6be;
    margin:0 5px;
}
.pt_computer_content_top_right a:hover{
    border:1px solid white;
}
.pt_bd_wrapper{
    width:100%;
    height:470px;
    display: flex;
}
.pt_bd_wrapper>div{
    flex:1;
    background: white;
}
.J_f_special_buy{
    background: #F6F6F6;
}
.J_f_special_buy_content{
    width:1190px;
    height:240px;
    margin:0 auto;
}